include default
	body
		include header
	.site-wrap
		if !faction
			p.
				Faction not found.
		else
			h2(id="faction-name")= faction.name
			table(id="faction-info")
				tr
					td= "ID"
					td(id="faction-id")= faction.faction_id
				tr
					td= "Name"
					td(id="faction-name")= faction.faction_name
				tr
					td= "Color"
					td(id="faction-color")= faction.color