include default
	body
		include header
		.site-wrap
			h1 Log In
			form#login
				label Username
					input(
						type="text"
						name="username"
						pattern="[A-Za-z_ ]{3,24}" 
						autocomplete="off" 
						required)
				label Password
					input(
						type="password" 
						name="password" 
						pattern=".{8,}" 
						autocomplete="off" 
						required)
				p.error
				input(type="submit" value="Log In")

		script(type="text/javascript").
			$(document).ready(function() {
				console.log("Document ready")
					$("p.error").html("")
				
				$('form#login').on("submit", function(e){
					e.preventDefault();
					const formdata = $(this).serialize();
					$.ajax({
						url : '/login',
						type: 'POST',
						data:formdata,
						dataType:"html",
						contentType: "application/x-www-form-urlencoded; charset=UTF-8",
						success : function (response) {
							const data = JSON.parse(response);
							window.sessionStorage.setItem("authToken", data.token);

							const token = window.sessionStorage.getItem('authToken');
							if (token) {
								document.cookie = "jwt=" + token
							}
							document.location.href="/";
						},
						error: function(xhr, resp, text) {
							if (text = "Unauthorized") {
								console.log("Login Failed")
								$("p.error").html("Login Failed")
							}
						}
					});
				})
			});
