include default
  body
    include header
    .site-wrap
      h1= "Password Recovery for "+resetTarget.username
      form#recovery
        label New Password:
          input(
            type="password" 
            name="password" 
            autocomplete="off"  
            pattern=".{8,}"
            placeholder="********" 
            required)
        p.input-description.
          Password must be 8 or more characters.
        label Confirm Password:
          input(
            type="password" 
            name="confirmPassword" 
            pattern=".{8,}" 
            autocomplete="off" 
            placeholder="********" 
            required)
        p.error
        input(type="hidden" id='requestId' name='requestId' value=requestId)
        input(type="submit" value="Reset Password")

    script(type="text/javascript").
      $(document).ready(function() {
        console.log("Document ready")
          $("p.error").html("")
        
        $('form#recovery').on("submit", function(e){
          e.preventDefault();
          const formdata = $(this).serialize();
          $.ajax({
            url : '/recovery',
            type: 'POST',
            data:formdata,
            dataType:"html",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success : function (response) {
              console.log('asdf')
              document.location.href="/";
            },
            error: function(xhr, resp, text) {
              if (text = "Unauthorized") {
                console.log("Password Reset Failed")
                $("p.error").html("Password Reset Failed")
              }
            }
          });
        })
      });
